<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>💕memberBoard_boardFindById💕</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<h2> 💕memberBoard_boardFindById💕 </h2>

    <table>
        <thead>
            <tr>
                <th>글번호</th>
                <th>글제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <!--<th>날짜</th>-->
            </tr>
        </thead>

        <tbody>
            <tr>
                <td th:text="${board.boardId}"></td>
                <td th:text="${board.boardTitle}"></td>
                <td th:text="${board.memberEmail}"></td>
                <td th:text="${board.hits}"></td>
            </tr>
        </tbody>
    </table>

<span th:text="${board.boardContents}"></span><br>
<img th:src="@{|/upload/${board.boardFilename}|}" alt="사진있어요"><br>


<a th:href="@{|/board/update/${board.boardId}|}"> 수정 </a><br>
<button th:onclick="deleteById([[${board.boardId}]])"> 삭제 </button><br>
<a th:href="@{|/board/delete/${board.boardId}|}"> 삭제 </a><br>

요기부터는 댓글
<div id="comment-write">
    <form id="commentWriteArea">
        <input type = "hidden" name="boardId">
        <input type = "text" id="commentWriter" name="commentWriter" th:value="${session['memberEmail']}" placeholder="작성자"><br>
        <textarea id="commentContents" name="commentContents" placeholder="내용"></textarea><br>
    </form>
    <button onclick="comment_save_btn()"> 댓글등록 </button>
</div>

<div id = "comment-area">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>작성자</th>
            <th>내용</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each ="comment: ${commentList}">
             <td th:text="${comment.commentId}"></td>
             <td th:text="${comment.commentWriter}"></td>
             <td th:text="${comment.commentContents}"></td>
             <td><button th:onclick="deleteById2([[${comment.commentId}]])"> 삭제 </button></td>
            </tr>
        </tbody>
    </table>
</div>

</body>

<script>

    const comment_save_btn = () => {
        console.log('댓글등록버튼 클릭함');

        /*const commentWriter = $("#commentWriter").val();*/
        const boardId = '[[${board.boardId}]]';
        // const commentContents = $("#commentContents").val();
        const commentContents = document.getElementById('commentContents').value;
        // const commentWriter = $('#commentWriter').val();
        const commentWriter = document.getElementById('commentWriter').value;

        $.ajax({
            type : 'post',
            url : '/comment/save',
            data : {
                'commentWriter': commentWriter,
                'commentContents': commentContents,
                'boardId': boardId
            },
            dataType : 'json',
            success: function (result)  {
                console.log(result);
                let output = "<table>\n" +
                    "        <thead>\n" +
                    "            <tr>\n" +
                    "                <th>번호</th>\n" +
                    "                <th>작성자</th>\n" +
                    "                <th>내용</th>\n" +
                    "                <th>관리</th>\n" +
                    "            </tr>\n" +
                    "        </thead>\n" +
                    "        <tbody>\n";
                $.each(result, function (i) {
                    output += "<tr>";
                    output += "<td>" + (i + 1) + "</td>";
                    output += "<td>"+ result[i].commentWriter+"</td>";
                    output += "<td>"+ result[i].commentContents+"</td>";
                    output += "<td><button onclick=\"deleteById("+result[i].commentId+")\">삭제</button></td>";
                    output += "</tr>";
                })
                output += "        </tbody>\n" +
                    "    </table>";
                document.getElementById('comment-area').innerHTML=output;
            },
            error: function ()  {
                alert ('ajax ㅠㅠ');
            }
        });
    };

    /*$("#comment-write-btn").click(function(){
        console.log('댓글등록버튼 클릭함');

        /!*const commentWriter = $("#commentWriter").val();*!/
        const boardId = '[[${board.boardId}]]';
        const commentContents = $("#commentContents").val();
        const commentWriter = $('#commentWriter').val();

        $.ajax({
            type : 'post',
            url : '/comment/save',
            data : {
                'commentWriter': commentWriter,
                'commentContents': commentContents,
                'boardId': boardId
            },
            dataType : 'json',
            success: function (result)  {
                console.log(result);
            },
            error: function ()  {
                alert ('ajax ㅠㅠ');
            }
        });
    });*/
</script>
<script>
    function deleteById(boardId)    {
        console.log(boardId);
        const reqUrl = "/board/" + boardId;

        $.ajax({
            type: 'delete',
            url : reqUrl,
            success: function ()    {
                location.href = '/board';
            },
                error : function(){
                alert("ajax실패");
                }
        });
    }
</script>
<script>
    function deleteById2(commentId)    {
        console.log(commentId);
        const reqUrl = "/comment/" + commentId;

        $.ajax({
            type: 'delete',
            url : reqUrl,
            success: function ()    {
                location.href = '/board';
            },
                error : function(){
                alert("ajax실패");
                }
        });
    }
</script>
</html>